<!DOCTYPE html>
<html>
<head>
	<title>Extended Eucledian</title>
	<style>
		html, * {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}

		body {
			text-align: center;
		}

		.grid {
			background: lightgreen;
			margin: auto;
		}

		p:nth-child(1) {
			padding: 10px 20px;
			text-align: center;
			font-family: ubuntu;
			font-weight: bolder;
			font-size: 25px;
			text-transform: uppercase;
			color: gray;
		}

		button {
			margin-top: 10px;
			padding: 10px 20px;
		}

	</style>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<p>Extended Euclidean</p>
	<canvas class='grid' width="1000" height="550">
		
	</canvas>
	<div>
		<button class="evaluate">Evaluate</button>
	</div>
	<script>

// Main
	let ctx = document.querySelector("canvas").getContext("2d");
	let a = Math.floor(Math.random() * (101 - 1) + 1);
	let b = Math.floor(Math.random() * (101 - 1) + 1);
	time_delay = 500;
	if(a < b) {
		temp = a
		a = b
		b = a
	}
	let d;
	init();
// Utility
	async function create_rectangle(i, x, y, d, t=false) {
		number = 15;
		height = ctx.canvas.height / (number + 1);

		if(t) {
			a = x;
			b = y;
			ctx.fillStyle = "green";
			ctx.fillRect(0, i * height, ctx.canvas.width, height);
			ctx.strokeStyle = "white";
			ctx.strokeRect(0, i * height, ctx.canvas.width, height);
			ctx.fillStyle =  "white";
			ctx.font = "bolder 12px ubuntu"
			ctx.fillText(`${b}(${Math.floor(a / b)}) + ${a % b} = ${a}`, ctx.canvas.width / 2 - 50, i * height + height / 2);
			return;
		}
		if(i == 0) {
			ctx.fillStyle = "red";
			ctx.fillRect(0, i * height, ctx.canvas.width, height);
			ctx.fillStyle =  "white";
			ctx.font = "bolder 18px ubuntu"
			ctx.fillText(`${a}X + ${b}Y = gcd(a, b)`, ctx.canvas.width / 2 - 50, i * height + height / 2);
		}
		else {
			ctx.fillStyle = "black";
			ctx.fillRect(0, i * height, ctx.canvas.width, height);
			ctx.strokeStyle = "white";
			ctx.strokeRect(0, i * height, ctx.canvas.width, height);
			ctx.fillStyle =  "white";
			ctx.font = "bolder 12px ubuntu"
			ctx.fillText(`${a}(${x}) + ${b}(${y}) = ${d}`, ctx.canvas.width / 2 - 50, i * height + height / 2);
		}
	}



	</script>
</body>
</html>
