<!DOCTYPE html>
<html>
<head>
	<title>Huffman Coding</title>
	<style>
		html, * {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}

		body {
			text-align: center;
		}

		.grid {
			background: lightgreen;
			margin: auto;
		}

		p:nth-child(1) {
			padding: 10px 20px;
			text-align: center;
			font-family: ubuntu;
			font-weight: bolder;
			font-size: 25px;
			text-transform: uppercase;
			color: gray;
		}

		button {
			padding: 10px;
			margin: 5px;
		}

	</style>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<p>Huffman Coding</p>
	<canvas class='grid' width="1000" height="500">
		
	</canvas>
	<div>
		<button class="compress">
			Generate Huffman Code
		</button>
	</div>
	<script>



	</script>
</body>
</html>
